
body {
    background-color: rgb(241, 241, 241);
}

.header-container {
    padding: 2%;
    background-color: rgb(43, 0, 0);
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: white;
}

#nav-text {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: white;
    padding-left: 18px;
    padding-right: 20px;
}

#nav-text:hover {
    color: rgb(121, 20, 20);
}

#nav-text-d {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

#nav-text-d:hover {
    color: rgb(139, 25, 25);
}

#nav-brand {
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    padding-left: 15px;
}

.container-login {
    height: 100vh;
    width: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-form {
    width: 55%;
    height: 45%;
    background-color: white;
    padding: 30px;
    border-radius: 3%;
    box-shadow: 7px 7px 7px rgb(244, 244, 248);
}

#signup-form {
    height: 46%;
    width: 60%;
    background-color: white;
    padding: 30px;
    border-radius: 3%;
    box-shadow: 7px 7px 7px rgb(244, 244, 248);
}

#form-label {
    font-size: 25px;
    margin-bottom: 16px;
}

#form-font {
    font-family: 'Raleway', sans-serif;
}

.movie-grid {
    padding-top: 15px;
    justify-content: center;
    padding-left: 30px;
}

#main-div-movie {
    font-family: 'Raleway', sans-serif;
}

#single-movie-div {
    height: 50%; 
    width: 50%;
}

#container-movie-info {
    width: 120vh;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 30px;
}

#single-movie-info {
    background-color: rgb(235, 235, 228);
    padding: 25px;
    border-radius: 7px;
}

#img-div {
    height: 100%;
    width: 100%;
    object-fit: center;
}